<div class="maincont">
<div class="row">
    <div class="col-lg-8">
        <h3>Brands</h3>
        <hr>
<mat-card>
<div class="row">
    <div class="col-lg-12">
        <h4>Logos</h4>
        <p>DEFAULT</p>
        <p>Used for most common logo applications
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 logo">
        <div class="dottedbox" id="mydiv"><mat-icon>photo</mat-icon></div>
    </div>
    <div class="col-lg-11">
        <h4 >Add a default logo</h4>
        <p>HEIC, PNG, or JPG. Recommended width: 512 pixels minimum.</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-lg-12">
        <p>Square</p>
        <p>Used by some social media channels. May be cropped into a circle.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 logo">
        <div class="dottedbox" id="mydiv"><mat-icon>photo</mat-icon></div>
    </div>
    <div class="col-lg-11">
        <h4 >Add Square logo</h4>
        <p>HEIC, PNG, or JPG. Recommended width: 512 pixels minimum.</p>
    </div>
</div>
        
  
<div class="row">
    <div class="col-lg-12">

    </div>
</div>
</mat-card>
<mat-card>
    <div class="row">
        <div class="col-lg-12">
            <h4>Colors</h4>
            <p>Primary</p>
            <p>The brand colors that appear on your store, social media, and more </p>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-1 logo">
            <div class="dottedbox" id="mydiv"><mat-icon>color_lens</mat-icon> </div>   
        </div>
        <div class="col-lg-11">
            <h4 >Add Primary color</h4>
          <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
           <p>Secondary</p>
            <p>Supporting colors used for accents and additional detail
            </p>
        </div>
    </div> 
    <div class="row">
        <div class="col-lg-1 logo">
            <div class="dottedbox" id="mydiv"> <mat-icon>color_lens</mat-icon>  </div>      
        </div>
        <div class="col-lg-11">
            <h4 >Add Secondary color</h4>
          
        </div>
    </div>
</mat-card>
<mat-card>
   
    <div class="row">
        <div class="col-lg-12">
            <h4>Cover Image</h4>
            <p>Key image that shows off your brand in profile pages and apps
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 logo">
            <div class="dottedbox" id="mydiv"> <mat-icon>photo</mat-icon></div>
        </div>
        <div class="col-lg-11">
            <h4 >Add cover image</h4>
            <p>HEIC, PNG, or JPG. Recommended width: 512 pixels minimum.</p>
        </div>
    </div>
</mat-card>
<mat-card>
<div class="row">
    <div class="col-lg-12">
        <h4>Slogan </h4>
        <p>Brand statement or tagline often used along with your logo
        </p>
    </div>
</div>
<div class="row">
    <div class="col-lg-1 logo">
        <div class="dottedbox" id="mydiv"><mat-icon>article</mat-icon>
        </div> 
        </div>
    <div class="col-lg-11">
        <h4 >Add Slogan</h4>
       
    </div>
</div>
</mat-card>
<mat-card>
    <div class="row">
        <div class="col-lg-12">
            <h4>Short Description</h4>
            <p>Description of your business often used in bios and listings

            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1 logo">
            <div class="dottedbox" id="mydiv">  <mat-icon>article</mat-icon></div>
                </div>
        <div class="col-lg-11">
            <h4 >Add Short description</h4>    
        </div>
    </div>
    </mat-card>

    <mat-card>
        <div class="row">
            <div class="col-lg-12">
                <h4>Social links</h4>
                <p>Social links for your business, often used in the theme footer
                </p>
            </div>
        </div>
       <div class="row">
        <div class="col-lg-12">
            <select matNativeControl required style="width: 20%;height:35px" >
                <option label="Add Social Link"></option>
                <option value="Active">Facebook</option>
                <option value="Draft">Twitter</option>
                <option value="Instagram">Instagram</option>
              </select>
        </div>
       </div>
        </mat-card>
</div>
<div class="col-lg-4 secondcont">
<mat-card>
    <div class="row">
        <div class="col-lg-12">
            <h3>what should you add ?</h3>
            <p>ESSENTIAL</p>
            <p>Common brand assets used across apps and channels</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-icon>photo</mat-icon>
        </div>
            <p>Default logo</p>
        
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-icon>color_lens </mat-icon>
        </div>
            <p>Square logo</p>
        
    </div> 
    <div class="row">
        <div class="col-lg-2">
            <mat-icon>photo</mat-icon>
        </div>
            <p>Colors</p>
        
    </div>  
   
  
</mat-card> 
<mat-card>
    <div class="row">
        <div class="col-lg-12">
            <p>ADDITIONAL</p>
            <p>Used by some apps and social media channels</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-icon>photo</mat-icon>
        </div>
            <p>Cover Image </p>
        
    </div>
    <div class="row">
        <div class="col-lg-2">
            <mat-icon>article </mat-icon>
        </div>
            <p>Slogan</p>
        
    </div> 
    <div class="row">
        <div class="col-lg-2">
            <mat-icon>article</mat-icon>
        </div>
            <p>Short Description</p>
        
    </div>  
    <div class="row">
        <div class="col-lg-2">
            <mat-icon>groups</mat-icon>
        </div>
            <p>Social Links</p>
        
    </div>  
   
   
  
</mat-card>
</div>
</div>
</div>