.home-cont1{
    margin:5% 10% 10% 10%;

}
p{
    margin-left: 7%;
}
.bt1
{
    background-color: #008060;
    color: aliceblue;
    margin-left: 7%;
}
.circle1{
    text-align: center;
    margin-top: 8px;
}