<div class="home-cont1">
    <mat-card class="example-card">
        <mat-card-title>Set up guide</mat-card-title>
        <!-- mat-icon style="margin-left: 90%;">expand_more</mat-icon> -->
        </mat-card>
        <mat-card>
       
        <div class="card1"> 
            <div class="row">
            <div class="col-lg-1 circle1">
            <svg width="20"height="20"viewbox="0 0 20 20"fill="none" role="img">
                <circle cx="10"cy="10"r="8.75"stroke="#BABEC3"stroke-width="2.5"stroke-dasharray="3.5 3.5"></circle>
            </svg>
            </div>
            <div class="col-lg-11">
        <h3>Add your first product </h3>
            </div>
            </div>
          <p>Add physical items,digital downloads,or anything else you dream up.<span>Learnmore</span> </p>
          <a routerLink="../addproduct"> <button class="bt1"mat-button>Add Product</button></a>
        </div>
    </mat-card>
    <mat-card>
        <div class="card2"> 
            <div class="row">
            <div class="col-lg-1 circle2">
            <svg width="20"height="20"viewbox="0 0 20 20"fill="none" role="img">
                <circle cx="10"cy="10"r="8.75"stroke="#BABEC3"stroke-width="2.5"stroke-dasharray="3.5 3.5"></circle>
            </svg>
            </div>
            <div class="col-lg-11">
         <h3>Name your store </h3>
            </div>
            </div>
          <p>your temporary store name is mystore you can change the name <span>Learnmore</span> </p>
        <a routerLink="../store">  <button class="bt1"mat-button>Name Store</button></a>
        </div>
    </mat-card>
    <mat-card>
        <div class="card2"> 
            <div class="row">
            <div class="col-lg-1 circle2">
            <svg width="20"height="20"viewbox="0 0 20 20"fill="none" role="img">
                <circle cx="10"cy="10"r="8.75"stroke="#BABEC3"stroke-width="2.5"stroke-dasharray="3.5 3.5"></circle>
            </svg>
            </div>
            <div class="col-lg-11">
         <h3>Add brand assets </h3>
            </div>
            </div>
          <p>Start selling your presence whereever you sell by adding logo and other brand assets <span>Learnmore</span> </p>
          <a routerLink="../brand"><button class="bt1"mat-button>Add Brand Assets</button></a>
        </div>
    </mat-card>
    <mat-card>
        <div class="card2"> 
            <div class="row">
            <div class="col-lg-1 circle2">
            <svg width="20"height="20"viewbox="0 0 20 20"fill="none" role="img">
                <circle cx="10"cy="10"r="8.75"stroke="#BABEC3"stroke-width="2.5"stroke-dasharray="3.5 3.5"></circle>
            </svg>
            </div>
            <div class="col-lg-11">
         <h3>Customize theme </h3>
            </div>
            </div>
          <p>pick your theme and customize content,layout andtypograpy to refelect your brand <span>Learnmore</span> </p>
          <button class="bt1"mat-button>Customize theme</button>
        </div>
    </mat-card>
    <mat-card>
        <div class="card2"> 
            <div class="row">
            <div class="col-lg-1 circle2">
            <svg width="20"height="20"viewbox="0 0 20 20"fill="none" role="img">
                <circle cx="10"cy="10"r="8.75"stroke="#BABEC3"stroke-width="2.5"stroke-dasharray="3.5 3.5"></circle>
            </svg>
            </div>
            <div class="col-lg-11">
         <h3>Organize your store's navigation </h3>
            </div>
            </div>
          <p>Help customer to find what they are looking for by organizing pages on your online store <span>Learnmore</span> </p>
          <button class="bt1"mat-button>Organize navigation</button>
        </div>
    </mat-card>
    <mat-card>
        <div class="card2"> 
            <div class="row">
            <div class="col-lg-1 circle2">
            <svg width="20"height="20"viewbox="0 0 20 20"fill="none" role="img">
                <circle cx="10"cy="10"r="8.75"stroke="#BABEC3"stroke-width="2.5"stroke-dasharray="3.5 3.5"></circle>
            </svg>
            </div>
            <div class="col-lg-11">
         <h3>Add custom domain</h3>
            </div>
            </div>
          <p>your current domain is ?? but you can add custom domain to help customers to find your online store <span>Learnmore</span> </p>
          <button class="bt1"mat-button> Add domain</button>
        </div>
    </mat-card>
    
</div>

