<div class="container">
    <div >
    <div class="row">
        <div class="col-lg-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title><h1>Title</h1>
                    <!-- {{producttitle}} -->
                </mat-card-title>
                 
                </mat-card-header>
                <img mat-card-image src="" alt=" ">
                <mat-card-content>
                    <h3>Description</h3>
                  <p>
                    ......
                  </p>
                  <p>Price</p>
                </mat-card-content>
             
               
              </mat-card>
              
        </div>
    </div>
    </div>
</div>